/* колір верхнього поля,логотипу footer,тексту header, головний   #FFFFFF
колір поля header і footer #2F303A
колір осовного поля #F5F5F5 - це для figma
колір другої секції #F5F4FA 

колір тексту activ #2196F3
колір логотипу header #000000
колір заголовків та спистків #212121
колір силків та тексту #757575
колір силок footer rgba(255, 255, 255, 0.6)
*/
:root {
  --up-white: #ffffff;
  --background-header-footer: #2f303a;
  --line-header: #ececec;
  --line-card: #eeeeee;
  --second-background: #f5f4fa;
  --activ: #2196f3;
  --logo-text: #000000;
  --color-title: #212121;
  --color-text: #757575;
  --contact-footer: #ffffff99;
  --activ-button: #188ce8;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--up-white);
  color: var(--color-title);
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* прибирання крапки та лінії на тексті */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  padding-left: 0;
}
/* скидання стилыв та встановлення меж макету */
.container {
  width: 1200px;
  outline: 1px solid green;
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.section {
  padding: 94px 0px;
}
/* сховати заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* шапка */
.box {
  background-color: var(--up-white);
  border-bottom: 1px solid var(--line-header);
}
.box .container {
  display: flex;
  align-items: center;
}
.box .nav {
  display: flex;
  align-items: center;
}
.box .list {
  display: flex;
  margin-left: auto;
}
.box .items + .items {
  margin-left: 50px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--activ);
}
.box .logo {
  margin-right: 93px;
}
.web {
  color: var(--logo-text);
}
.item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-title);
}
.item.activ {
  color: var(--activ);
}
.box .contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-text);
}
.box .item:hover,
.box .item:focus,
.contact:hover,
.contact:focus {
  color: var(--activ);
}
/* головна */
.page {
  background-color: var(--background-header-footer);

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.page-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: var(--up-white);

  text-transform: uppercase;
}
.page-button {
  min-width: 216px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--up-white);
  background-color: var(--activ);

  cursor: pointer;
}
.page-button:hover,
.page-button:focus {
  background-color: var(--activ-button);
}
/* Наші переваги */
.pluses-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}
.pluses-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-text);
}
/* Чим ми займаємось */
.work.section {
  padding-top: 0px;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  text-align: center;
}
/* Наша команда */
.team {
  background-color: var(--second-background);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-align: center;
}
.team-bloc {
  background-color: var(--up-white);
  width: 270px;
  text-align: center;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--color-text);
}
/* сторінка проектів */
.project-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  text-align: center;

  cursor: pointer;

  color: var(--color-title);
  background-color: var(--second-background);
}
.project-button:hover,
.project-button:focus {
  color: var(--up-white);
  background-color: var(--activ);
}
.card {
  width: 370px;
  background-color: var(--up-white);
}
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--color-text);
}
/* Підвал */
.footer {
  background-color: var(--background-header-footer);
}
.footer .logo {
  color: var(--up-white);
}
.footer .web {
  color: var(--activ);
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--up-white);
}
.footer .contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--contact-footer);
}
.address:hover,
.address:focus,
.footer .contact:hover,
.footer .contact:focus {
  color: var(--activ);
}
